@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Palawan Operators Tourist Transport Multi-purpose Cooperative is a Legit Tourist transport based in Puerto Princesa City Palawan and POTTMPC is a DOT, OTC and PPCTO accredited. The POTTMPC is the first transport Multi- purpose cooperative here in Palawan.
</p>

<h2> Mission </h2>
<p>
    To deliver reliable, Safe, convenient services to our clients and provide better 
    future to each member in patronizing our own program
</p>

<h2>
    Vision
</h2>
<p>
    Help develop  a better community of transport entrepreneurs, 
    become a true lover of nature dealing with individuals in preservation and 
    economy grower.
</p>
   


@Html.Action("MobileModalView")