
<img src="~/Images/LOGO_AJRENTACAR.jpg" width="200" />

<h1> Thank you for the Reservation. </h1>
<h4> Reservation No:  @ViewBag.rsvId  </h4>

<div>
    <p>Dear Valued Customer,</p>
    <p>Thank you for your reservation.  </p>
    <p>
        This is also to inform you that we are still in the process of developing our online payment system to further enhance our services.
        For the meantime, in order to confirm your booking with us, we require the 10% partial payment of the total estimated cost to be deposited in the bank given below.
        
    </p>
    <p>
        Bank Details:
        <span class="userData">BDO - SM Ecoland Davao</span><br />
        Account Name:
        <span class="userData">AJ88 Car Rental Services</span><br />
        Account Number:
        <span class="userData">000 860 729 575</span><br />
        <br />
        <p>Please scan your payment reciept and send it to reservation.realwheels@gmail.com.
        We will call or email you for the confirmation of the reservation. Should there be further concern, please don't hesitate to contact us.
        </p>
       
    <p>


    <p>
        <br /><br /><br />
        Yours Truly,<br /><br />
        <span class="userData01">Abel S. Salvatierra</span><br />
        <span class="userRemarks">Part-Owner</span><br />
        <span class="userRemarks">AJ88 Car Rental Services - Davao</span><br />
        <span class="userRemarks">Mobile: (+63) 995-450-8517</span><br />
        <span class="userRemarks">Email: AJDavao88@gmail.com</span><br />
        <br />
    </p>

</div>

@Html.ActionLink("Back to Home", "Index" , null, new { @class = "btn btn-default"})

