
<div class="col-md-12">
    <h4>Summay</h4>
    <table class="table table-bordered">
        <tr>
            <th>Item </th>
            <th>Rate </th>
        </tr>
        <tr>
            <td id="smry-itour"> Description </td>
            <td id="smry-rtour"> </td>
        </tr>
        <tr>
            <td id="smry-idays"> Days </td>
            <td id="smry-rdays"> </td>
        </tr>
        <tr>
            <td id="smry-iVehicle"> Vehicle </td>
            <td id="smry-rVehicle"> </td>
        </tr>
        <tr style="display:none;">
            <td id="smry-iVehicleRate"> Vehicle Rate per day </td>
            <td id="smry-rVehicleRate"> </td>
        </tr>
        <tr>
            <td id="smry-iType"> Rental Type </td>
            <td id="smry-rType"> </td>
        </tr>
        <tr>
            <td id="smry-iFuel"> Fuel </td>
            <td id="smry-rFuel"> </td>
        </tr>
        <tr>
            <td id="smry-iMeal"> Driver Meals/Accomodation </td>
            <td id="smry-rMeal"> </td>
        </tr>
        <tr>
            <td id="smry-itotal" style="font-weight:bold;"> Total </td>
            <td id="smry-rtotal"> </td>
        </tr>
</table>
</div>



