
@{
    ViewBag.Title = "SUV Listing";
}

<div class="jumbotron">
    <h2>Pickup Listing</h2>
     <p>
         <a href="/ads/">Listing</a> >
         <a href="#">Pickup</a>
     </p>
</div>
<div class="container" >
    <div class="col-lg-8 ads-listing-container">
        <div class="col-sm-12 ads-listing-title-bar">
            <h3>Listing for Pickup <span class="badge"> 1 </span></h3>
        </div>

        <div class="col-sm-12 ads-listing-item">
            <h3 class="btn btn-success ads-listing-price">PHP 3,000</h3>
            <img src="~/Images/CarRental/CarViews/Pickup/Estrada.jpg" class="img-thumbnail ads-listing-img" alt="Pickup" />
            <h4>
                <a href="~/ads/4x4-rental-pickup-for-rent-davao/">
                    <b>4×4 Rental Pickup for Rent Davao</b>
                </a>
            </h4>
            <h4 class="label label-default">Pickup</h4>
            <hr style="margin:7px;" />
            <p>Pickup for Rent Davao City Self drive on Davao City Area. Rental  w/ or w/o driver included. </p>
        </div>

    </div>
    <div class="col-lg-3 ads-listing-side">
        @{Html.RenderPartial("CarViews/TagsViewListing");}

        @{Html.RenderPartial("CarViews/PopularAdsView");}
    </div>
</div>


