
<div class="col-lg-4 ads-link">
    <h3>
        Popular Ads
    </h3>
    <p>
        <hr /> <a href="~/ads/rent-a-car-suv-for-rent-davao-city/"> Ford Everest 2016</a>
        <hr /> <a href="~/ads/toyota-hiace-gl-grandia/"> Toyota GL Grandia</a>
        <hr /> <a href="~/ads/toyota-innova-d-4d"> Toyota Innova</a>
        <hr /> <a href="~/ads/honda-city-automatic/"> Honda City 2018</a>
        <hr /> <a href="~/ads/rent-a-car-davao-city-self-drive-2/"> Honda City 2012</a>
        <hr /> <a href="~/ads/toyota-hiace-gl-grandia/"> Van Rental</a>
    </p>

</div>
