
@{
    ViewBag.Title = "Toyota HiAce – GL Grandia";
}

<div class="jumbotron">

    <h2>Real Wheels Rent a Car</h2>  
    <p>
        <a href="/ads/">Listing</a> >
        <a href="/ad-category/vans/">Van</a>
        <a href="">Toyota GL Grandia</a> <!--Vehicle-->
    </p>  

</div>
<div class="container">

    <div class="col-lg-8 ads-desc-box" >

        <div class="col-lg-12">
            <h3 class="text-left ads-desc-carDesc">Toyota HiAce – GL Grandia</h3>
            <h3 class="label label-success ads-desc-carPrice" >PHP 2,500</h3>
            <br />
            <br />
            <hr />
        </div>

        <div class="col-lg-12 ">
            <img src="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia.jpg" alt="realwheelsdavao toyota-gl-grandia" class="img-thumbnail ads-desc-img-primary" />
        </div>

        <div class="col-lg-12 ads-desc-img-box" >
            <a href="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia.jpg" target="_blank">
                <img src="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia.jpg" alt="realwheelsdavao toyota-gl-grandia" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
            <a href="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia-rear.jpg" target="_blank">
                <img src="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia-rear.jpg" alt="realwheelsdavao toyota-gl-grandia" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
            <a href="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia-interior.jpg" target="_blank">
                <img src="~/Images/CarRental/CarViews/ToyotaGrandia/Toyota-GL-Grandia-interior.jpg" alt="realwheelsdavao toyota-gl-grandia" class="img-thumbnail ads-desc-img-box-gallery" />
            </a>
        </div>

        <div class="col-lg-12">
            <h3>
                Services Offered
            </h3>
            <p>
                <br />Offering an affordable and quality rent a car service in Davao City Philippines.
                <br />1. Airport Service Package (One Way: Pickup-Drop Off, Airport to City Downtown)
                <br />2. Special Events Package (Weddings, Blessing & Others)
                <br />3. Company Service (Monthly or yearly Contract Basis)
                <br />4. Davao Tour Service Package
                <br />5. Out of Town
                <br />( Digos, Kidapawan, General Santos City, Bukidnon, CDO,
                <br />Tagum City, COMVAL, Mati, Surigao, etc. )
            </p>
            <hr />
            <p>
                <h3>Contact Details</h3>

            <p> Contact Person: Elvie </p>
            <a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 926-733-5449"> Globe: +63 926-733-5449 </a>
            <br /><a class="btn btn-default" style="margin-bottom:5px;" href="tel:+63 909-076-1575">Smart: +63 909-076-1575 </a>
            <br /><a class="btn btn-default" style="margin-bottom:5px;" href="mailto: AJDavao88@gmail.com">email: AJDavao88@gmail.com </a>
            <p>CHECK OUR PACKAGE TOURS <a href="http://realbreezedavaotours.com/"> HERE</a></p>
            </p>
        </div>
        @{Html.RenderPartial("CarViews/TagsView");}

    </div>


    <div class="col-lg-4 ads-tech-details" >
        <h3>
            Technical Details
        </h3>
        <p>
            <br /> Manufacturer:       <b>Toyota</b>
            <hr /><br /> Model:        <b>GL Grandia </b>
            <hr /><br /> Year:         <b>2013 </b>
            <hr /><br /> Color:        <b>White </b>
            <hr /><br /> Transmission: <b>Manual </b>
            <hr /><br /> Fuel Type:    <b>N/A </b>
            <hr /><br /> Seats:        <b>10 </b>
            <hr /><br /> Milage:       <b>2000</b>
        </p>

    </div>
    @{Html.RenderPartial("CarViews/PopularAdsView");}
</div>